@import url('mediaquerie-especialidades.css');

@media (max-width:768px){
 
    header{
        width: 100%;
    }
    section.fundo {
        height: 400px;
    }

    .capa > h1 {
        font-size: 1em;
    }

    .nossa-clinica {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    }

    .clinica > figure {
        display: none;
    }

    .secao > p, .rodape > p {
    padding:0px 20px;
    }

    .especialidade {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .picture {
        width: 84%;
        margin: 50px;
    }
}

@media (max-width:450px){
    header {
        height: 100px;
    }
    .topo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topo > a > img {
        width: 100px;
    }
    nav.links-topo {
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
    }


    section.fundo {
        height: 200px;
    }
    .capa > h1 {
        font-size: 0.8em;
    }
    .secao > p, .rodape > p {
    padding:0px 20px;
    }

    .nossa-clinica {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    }
}